body {
    background-color: aqua;
}

.Titulo {
    width: auto;
    height: 100px;
    background-color: red;
}

.Contenedor {
    display: flex;
    width: 100%;
}

.Caja1 {
    width: 50%;
    height: 300px;
    background-color: green;
    text-align: left;
}
.Caja2 {
    width: 50%;
    height: 300px;
    background-color: skyblue;
    text-align: right;
}

h1 {
    color: white;
    font-size: 30px;
    text-align: center;
}

h2 {
    color: white;
    font-size: 30px;
}
